{% extends 'base.html' %}
{%block title%}Tasks{%endblock%}
{%block style%}
<link rel="stylesheet" href="static/Home.css">
{%endblock%}
{%block body%}

<form action="#" method="POST">
<div>
    <label for="task" class="">Add Task</label>
    <input type = "text" name="task" placeholder="eg Learn Dart" required/>
</div>
<div class="">
    <input type="submit" value="Add">
</div>
</form>
{% if tasks %}
<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Date Added</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{task.task}}</td>
      <td>{{task.date_created}},{{task.time_created}}</td>
      <td class="actions">
        <form action="/update/{{task.id}}" method="GET">
          <button type="submit">Update</button>
        </form>
        <form action="/delete/{{task.id}}" method="POST">
            <button type="submit" class="delete-button">Delete</button>
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="empty">You have not added any tasks yet.</p>
{% endif %}


{%endblock%}